<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.maigre.cordova.plugins.audiofocus" version="0.0.1"
        xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">

    <name>AudioFocus</name>
    <description>Cordova plugin to request and listen for audio focus changes on Android</description>
    <author email="thomas@37m.gr" href="https://github.com/Maigre">maigre</author>
    <license>MIT</license>

    <js-module name="AudioFocus" src="www/AudioFocus.js">
        <clobbers target="cordova.plugins.audiofocus"/>
    </js-module>

    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="AudioFocus">
                <param name="android-package" value="com.maigre.cordova.plugins.AudioFocus"/>
            </feature>
        </config-file>
        <source-file src="src/android/AudioFocus.java" target-dir="src/com/maigre/cordova/plugins/"/>
    </platform>
</plugin>