<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-audiofocus" version="1.3.1"
        xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">

    <name>AudioFocus</name>
    <description>Cordova plugin to request audio focus and listen for focus changes on Android and iOS</description>
    <author email="thomas@37m.gr" href="https://github.com/Maigre">maigre</author>
    <license>MIT</license>

    <js-module name="AudioFocus" src="www/AudioFocus.js">
        <clobbers target="cordova.plugins.audiofocus"/>
    </js-module>

    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="AudioFocus">
                <param name="android-package" value="com.maigre.cordova.plugins.AudioFocus"/>
            </feature>
        </config-file>
        <config-file parent="/manifest" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
            <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
        </config-file>
        <config-file parent="/manifest/application" target="AndroidManifest.xml">
            <service
                android:name="com.maigre.cordova.plugins.AudioFocusService"
                android:foregroundServiceType="mediaPlayback"
                android:exported="false" />
        </config-file>
        <source-file src="src/android/AudioFocus.java" target-dir="src/com/maigre/cordova/plugins/"/>
        <source-file src="src/android/AudioFocusService.java" target-dir="src/com/maigre/cordova/plugins/"/>
    </platform>

    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="AudioFocus">
                <param name="ios-package" value="AudioFocusPlugin"/>
            </feature>
        </config-file>
        <source-file src="src/ios/AudioFocus.m" target-dir="src/AudioFocus/"/>
        <framework src="AVFoundation.framework"/>
    </platform>

</plugin>
